<!-- <div class="nav-bar bg-white h-100vh toggled" [ngClass]="{'toggled' : toggled}"> -->
<div class="nav-bar bg-white h-100vh">

    <div class="toggler px-3 py-2">
        Shoppr
    </div>

    <li class="navigation">
        <ul class="active">
            <img src="../../../../../assets/icons/home.svg" width="20" alt="">
            <span>Home</span>
        </ul>
        <ul>
            <img src="../../../../../assets/icons/archive.svg" width="20" alt="">
            <span>Products</span>
        </ul>
        <ul>
            <img src="../../../../../assets/icons/archive.svg" width="20" alt="">
            <span>Orders</span>
        </ul>
        <ul>
            <img src="../../../../../assets/icons/archive.svg" width="20" alt="">
            <span>Messages</span>
        </ul>
    </li>
</div>